body{
    margin:0;
    font-family: Arial, sans-serif;
    text-align:center;
    background:#fafafa;
}

/* PORTADA */

.portada{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-top: 180px;
    background-color: #87CEEB;
}

.portada h1{
    font-size:50px;
    margin:10px;
}

.portada p{
    font-size:20px;
}

/* SECCIONES */

.section{
    padding:60px 20px;
}


.section p {
    font-style: italic;
}


/* CUADROS PARA IMAGEN */

.img-placeholder{
    width:300px;
    height:450px;
    background-image: url("https://jesusmurillo31.github.io/Boda-Jesus-Stefany/images/Boda_en_construccion.jpg");
    margin:auto;
    border-radius:10px;
    object-fit: contain
}

/* GALERIA */

.galeria{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.galeria .img-placeholder{
    width:200px;
    height:200px;
    background-image: url("https://jesusmurillo31.github.io/Boda-Jesus-Stefany/images/Boda_en_construccion_200x200.jpg");
}

/* EVENTO */

.evento{
    background:white;
    padding:40px;
    border-radius:10px;
    max-width:500px;
    margin:auto;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

/* BOTON */

.boton{
    display:inline-block;
    margin-top:20px;
    padding:12px 25px;
    background:#000;
    color:white;
    text-decoration:none;
    border-radius:5px;
}